		<section class="l-content-fixed section">
			<header class="section-header">
				<h2 class="section-title">Question</h2>
				<p class="section-subtitle">質問一覧</p>
			</header>
			<table class="table-list">
				<colgroup>
					<col class="table-list-col-type">
					<col class="table-list-col-date">
					<col class="table-list-col-data">
				</colgroup>
				<tbody>
                    <% @posts.each do |post|%>
					<tr>
						<td><span class="table-list-icon">未解決</span></td>
						<td class="table-list-date"><time datetime="2018-09-13">2018.09.13</time></td>
						<td class="table-list-link"><a href="20180913.html"><%= link_to(post.title, post)%></a></td>
					</tr>
                     <% end %>
				</tbody>
			</table>
		</section>