<section class="l-content-fixed section">
  <header class="section-header">
    <h2 class="section-title">質問</h2>
    <p class="section-subtitle">Question</p>
  </header>
  <div class="section-question">
      <p class="section-question-title">
        <%= "タイトル : #{@post.title}"%>
      </p>
      <p class="section-question-content">
        <%= "内容 : #{@post.content}"%>
      </p>
  </div>
<section>
