/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* default */
#container {
  min-width: 980px;
  border: solid 1px red;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-content-fixed {
  width: 980px;
  margin: 0 auto;
  border: solid;
}

.l-content-expanded {
  width: auto;
  margin: 0;
  border: solid;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  justify-content: space-between;
}

.header-logo {
  margin: 0;
  font-size: 2em;
  line-height: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu-item {
  margin-left: 2em;
}

.nav-menu-item a {
  color: #333;
  font-weight: bold;
}

.footer {
  background-color: skyblue;
}

.footer-content {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-copy {
  color: whitesmoke;
  font-weight: bold;
}
